div{
	margin: 10px;
	width: 50%
}
div{
	border: solid 2px #777777;
	padding: 10px;
}
h1, h3, span{
	font-weight: bold;
	text-align: center;
}
h1{
	font-size: 50pt;
}
ul {
	list-style: disc inside;
	text-indent: 30px;
}

div.header, div.crystals{
	background-color: #4b4bda;
}
div.header, div.instructions{
	width: 50%;
}

.numberToMatch, .winsAndLosses{
	float: left;
	width: 15%;
	height: 60px;
}
.userTotal{
	width: 15%;
	height: 60px;
}
.crystals{
	clear: both;
}